<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>条件渲染</title>
		<script type="text/javascript" src="../js/vue.js">
			
		</script>
	</head>
	<body>
		<div id="box">
			<!-- <input type="text" v-model="my_input">
			<button type="button" value="add" @click="add_data">add</button>
			<ul v-if="input_list.length > 0">
				<li v-for="(item,index) in input_list">
					{{item}}-----<button type="button" @click="del_data(index)">del</button>
				</li>
			</ul>
			<ul v-else>
				<span>代办事项空空</span>
			</ul> -->
			
			<ul>
				<div v-for="item in list">
					<div>
						{{item.name}}
					</div>
					<div>
						{{item.price}}
					</div>
					<div v-if="item.status === 0">
						待支付
					</div>
					
					<div v-else-if="item.status === 1">
						支付成功
					</div>
					
					<div v-else-if="item.status === 2">
						订单完成
					</div>
					
				</div>
				
				
			</ul>
		</div>
		<script type="text/javascript">
			let vm = new Vue({
				el: '#box',
				data: {
					 /* my_input: '',
					input_list: []
					*/
					list: [
						{
							id: '1',
							name: '手机',
							price: '10000',
							status: 0 // 待支付
						},
						{
							id: '2',
							name: '吹风机',
							price: '200',
							status: 1 // 支付成功
						},
						{
							id: '3',
							name: '剃须刀',
							price: '300',
							status: 2 // 订单完成
						}
					]
				},
				methods:{
					add_data () {
						this.input_list.push(this.my_input);
						this.my_input = ''
					},
					del_data (index) {
						this.input_list.splice(index,1)
					}
				}
			})
		</script>
		
	</body>
</html>
